<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PINI PONO</title>
</head>
<body style="background-color: rgb(193, 203, 240);">
    <h1>Welcome to the PINI PINO STORE API! </h1>
    <img class="letter-logo" src="/media/product/photos/logo.png" alt="logo check"
        style="width: 350px; height: 300px" />
    <h2>Go to API documentation:</h2>
    <a href="{{ domain_url }}/schema/swagger-ui/">
        <h2>{{ domain_url }}/docs/swagger/</h2>
    </a>
    <h2>Go to Admin page:</h2>
    <a href="{{ domain_url }}/admin/">
        <h2>{{ domain_url }}/admin/</h2>
    </a>
    <div class="maker-canvas-container" style="width: 520px; height: 416px; position: relative; user-select: none;" tabindex="1">
        <canvas data-v-712e4886="" id="js-maker-canvas" class="maker-canvas lower-canvas" width="650" height="520" style="position: absolute; width: 520px; height: 416px; left: 0px; top: 0px; touch-action: none; user-select: none;">
        </canvas>
        <canvas class="upper-canvas maker-canvas" width="650" height="520" style="position: absolute; width: 520px; height: 416px; left: 0px; top: 0px; touch-action: none; user-select: none; cursor: default;">
        </canvas>
    </div>
</body>
</html>